---
import Layout from "../../components/Layout.astro";

// Astro 4+ correct way to get all Markdown posts
const posts = await Astro.glob("./*.md");
---

<Layout title="Blog | Digital Marketing Agency">
  <h1>Blog</h1>
  <ul>
    {posts.map(post => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</Layout>
