---
import Layout from "../../components/Layout.astro";
---
<Layout title="Services | Digital Marketing Agency">
  <h1>Our Services</h1>
  <ul>
    <li><a href="/services/seo">SEO Optimization</a></li>
    <li><a href="/services/social-media">Social Media Marketing</a></li>
    <li><a href="/services/ppc">Pay-Per-Click Advertising</a></li>
    <li><a href="/services/web-design">Web Design</a></li>
  </ul>
</Layout>
