---
import Layout from "../../components/Layout.astro";
---
<Layout title="PPC Advertising | Digital Marketing Agency">
  <h1>Pay-Per-Click Advertising</h1>
  <p>We create targeted ad campaigns to maximize ROI.</p>
</Layout>
