---
import Layout from '../../components/Layout.astro';
---
<Layout title="Social Media Marketing | Digital Marketing Agency">
  <h1>Social Media Marketing</h1>
  <p>We help grow your audience and engagement on major social platforms.</p>
</Layout>
