---
import Layout from '../../components/Layout.astro';
---
<Layout title="Web Design | Digital Marketing Agency">
  <h1>Web Design</h1>
  <p>We design and build responsive, modern websites to convert visitors.</p>
</Layout>
