---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Blog | Digital Marketing Agency">
  <h1>Blog</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        <small>({post.data.date.toDateString()})</small>
      </li>
    ))}
  </ul>
</Layout>
