---
import Layout from "../components/Layout.astro";
---
<Layout title="About Us | Digital Marketing Agency">
  <h1>About Us</h1>
  <p>We’re a team of passionate marketers helping businesses achieve growth online.</p>
</Layout>
