---
import Layout from "../components/Layout.astro";
---
<Layout title="Contact | Digital Marketing Agency">
  <h1>Contact Us</h1>
  <p>Email us at <a href="mailto:hello@agency.com">hello@agency.com</a></p>
</Layout>
